services:
  db:
    image: mysql:8.0
    container_name: estoque-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: api_inventory
      MYSQL_USER: estoque
      MYSQL_PASSWORD: estoque123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    build: .
    container_name: api-estoque
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  db_data:
